%div.conformation
%div.main
  %div.sidebar
    %div.sidebar__upper
      %a
        %h2
          = current_user.name
      = link_to new_group_path do
        %i.fa.fa-pencil-square-o{'aria-hidden': 'true'}
      = link_to edit_user_registration_path do
        %i.fa.fa-cog{'aria-hidden': 'true'}
    %div.sidebar__bottom
      %ul
        - @groups.each do |group|
          - @comment = Message.where(group_id: group.id).last
          %li.sidebar__bottom__list
            = link_to new_group_message_path(group.id) do
              %h3
                = group.name
              %p
                = @comment.body
  %div.contents
    %header
      %h2
        = @group.name
      = link_to edit_group_path(@group.id) do
        %p Edit
      %h4
        = current_user.name
    %div.content
      %ul
        - @messages.each do |message|
          %li.content__list
            %h2
              =message.user.name
            %h4
              = message.created_at.strftime('%Y/%m/%d %H:%M')
            %p
              = message.body
    %footer
      = form_for ([@group,@message]) do |f|
        .comment
          =f.text_field :body, placeholder: 'send a message'
          =f.file_field :image, class: 'fa fa-picture-o', html:{'aria-hidden': 'true', style: 'line-height: 50px'}
          =f.submit "Send", class: "input"
