.main{ data: { group_id: @group.id } }
  .sidebar
    .sidebar__upper
      %h2= current_user.name
      = link_to new_group_path do
        %i.fa.fa-pencil-square-o{ 'aria-hidden': 'true' }
      = link_to edit_user_registration_path do
        %i.fa.fa-cog{ 'aria-hidden': 'true' }
    .sidebar__bottom
      %ul
        = render partial: 'group', collection: @groups
  .contents
    = render 'layouts/header'
    %ul.content
      = render partial: 'message', collection: @messages
    .message
      = form_for [@group, @message], html: { class: 'comment' } do |f|
        = f.label :body do
          = f.text_field :body, placeholder: 'send a message',class: 'comment__message'
        = f.label :image do
          = f.file_field :image, class: 'comment__image'
          %i.fa.fa-picture-o{ 'aria-hidden': 'true', style: 'line-height: 50px' }
        = f.submit 'Send', class: 'comment__submit'
